<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">

	<select id="all" resultType="com.hb.mybatis.VO">
		select * from guestbook order by idx
	</select>
	<insert id="insert" parameterType="com.hb.mybatis.VO">
		insert into guestbook
		 values(guestbook_seq.nextval,#{name},#{subject},#{content},#{email},#{pwd},sysdate)
	</insert>
	<select id="one" parameterType="String" resultType="com.hb.mybatis.VO">
		select * from guestbook where idx = #{idx}
	</select>
	<delete id="delete" parameterType="String">
		delete from guestbook where idx = #{idx}
	</delete>
	<update id="update" parameterType="com.hb.mybatis.VO">
		update guestbook set 
		name=#{name}, subject=#{subject}, email=#{email}, content=#{content} 
		where idx=#{idx}
	</update>
	
</mapper>