@CHARSET "UTF-8";
	a{
		text-decoration: none;
		color:#000;
	}
	li{
		list-style: none;
	}
	nav{
		display:block;
		width:100%;
		border-bottom:1px solid #C1C0BD;
		paddin:0;
	}
	header{
		display:block;
		width:100%;
		
	}
	.wrap{
		width:960px;
		display:block;
		height:100%;
		margin:0 auto;
	}
	/* 최상단 */
	.topArea{
		width:100%;
		height:20px;
		display:block;
		border-bottom: 1px solid #f4f4f4;
		text-align: right;
	}
	#topMenu, #topMenu a{
		font-size:13px;
		color:#898989;
	}
	#topMenu a:hover{
		text-decoration:underline;
	}
	
	/* logo */
	.logoArea{
		display:inline-block;
	}
	.logoArea img{
 		width:165px;
 		position:absolute;
 		top:40px;
	}
	
	/* 검색바 */
	#keyword !important{
		position:relative;
		bottom:10px;
		left:10px;
		border:0;
		outline: none;
		width:350px !important;
		height:20px !important;
		font-size:15px;
	}
	#searchBtn{
		position:relative;
		right:-58px;
		background:url(../img/searchBtn.png) no-repeat;
		background-size:25px;
		border:0;
		width:30px;
		height:30px;
		display:inline;
	}
	#searchBar{
		width:450px;
		height:30px;
		display:block;
		margin:0 auto;
		margin-top:20px;
		border-bottom: 3px solid #052efc;
	}
	
	
	/* 네비 */
	
	ul#mainNav{
		display:block;
		width:960px;
		/* border:1px solid #000; */
		margin:0 auto;
		height:25px;
		padding-top:45px;
		padding-left:0px;
		margin-bottom:5px;
		
	}
	ul#mainNav .firstMenu{
		z-index:1000;
		display:inline-block;
		float:left;
		width:240px;
		text-align:center;
		margin:0 auto;
		/* border:1px solid red; */
	}
 	ul#mainNav .firstMenu ul{
		display:none;
	}

 	.firstMenu a:hover{
		color:#052efc;
		font-weight:bolder;
		display:inline-block;
	}
	ul#mainNav .firstMenu:hover div{
		position:absolute;
		padding:0px;
	}
	ul#mainNav .firstMenu:hover ul{
		display:block;
		position:relative;
		/* top:157px;
		left:20px; */
		top:9px;
		left:15px;
		width:200px;
		border:1px solid #959da6;
	 	background:#fff;
	 	z-index:1000;
	 }
	 .firstMenu ul{
	 	padding:10px 0px;
	 	box-shadow:1px 1px 1px 1px #dfdfdf;
	 }
	 .firstMenu ul li{
	 	font-size:14px;
	 	font-weight:lighter;
	 }
	 .firstMenu ul a:hover{
	 	text-decoration: underline;
	 	color:#052efc;
	 }
	 
	 div.subMenuWrap ul{
	 	
	 }
	 /* subMenu */
	#subMenu0{
		
	}
	#name:HOVER{cursor:pointer;font-weight:bold;}
.bubble 
{
	z-index:1000;
position: absolute;
width: 280px;
height: 160px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: #7F7F7F solid 1px;
top:49px;
right:91px;
}

.bubble div{
	width:219px;
	display: block;
	height: 150px;
	margin:0 auto;
	
}
.bubble p{
	font-size:15px;
}
.bubble #id{
	font-weight:bold;
}
.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 14px 20px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -20px;
left: 189px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 14px 20px;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
top: -21px;
left: 189px;
}