/* 전체 */
#content-wrap{
	overflow: hidden;
	width: 100%;
	height: auto;
	position: absolute;
    top: 112px;
}
/* 메뉴 */
#menu{
	position: relative;
	float: left;
	width: 142px;
	height: 100%;
	border: 1px solid black;
}
/* 로고 이미지 */
.img{
	background-position: center;
	margin-top: 20px;	
	width: 37px;
}
#menu .menu-header{
	height : 90px;
	text-align: center;
	vertical-align: bottom;
}
/* menu-list */
.menu-wrap{
	margin-top: 30px;
	
	/* color: #666666; */
	/* padding-left: 0; */
}
.li-s{
	display: none;
	float: left;
}
.menu-wrap>ul>li:HOVER .li-s{
	display: block;
}
.menu-wrap>ul>li:HOVER{
	background-color: #E8E8E8;
	color: #333333;
}
.submenu{
	list-style: none;
	float: left;
	vertical-align: bottom;
	font-size: smaller;
	padding-left: 28px;
	background-color: #FCFCFC;
}
#content{
	position: relative;
    margin-left: 160px;
}
.page-header-f{
	position: absolute;
	top:11px;
	right: 50px;
}
.table-wrap .table{
	margin: auto;
	border-top: 1px solid #AEAEAE;
    border-bottom: 1px solid #E6E6E6;
    width: 90%;
}
/* 안됑애옹ㅇ뇓아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ */
/* .table-wrap2 .table-add{
	margin: auto;
	border: 1px solid #AEAEAE;
    width: 90%;
} */
.submenu li>a{
	text-decoration: none;
	color: #666666;
	
}
.member-name{
	position: relative;
	
}
.member-info{
	position: absolute;
	top: 54px;
	right: 50px;
}

// 페이징

table tfoot ul.paging {
	    list-style:none;
	}
	
	table tfoot ul.paging li {
	    float:left;
	    margin-right:8px;
	    list-style:none;
	}
	
	table tfoot ul.paging li a {
	    display:block;
	    padding:3px 7px;
	    border:1px solid #00B3DC;
	    color:#2f313e;
	    font-weight:bold;
	    list-style:none;
	}
	
	table tfoot ul.paging li a:hover {
	    background:#00B3DC;
	    color:white;
	    font-weight:bold;
	    list-style:none;
	}
	
	.disable {
	    padding:3px 7px;
	    border:1px solid silver;
	    color:black;
	    list-style:none;
	}
	.paging{
		 list-style:none;
		}
