<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hansta">
	<!-- 회원가입  -->
	<insert id="insertOne" parameterType="spring.project.db.UsersVO">
		insert into users_3 values(users_3_seq.nextval,#{id},#{name},#{pwd},#{email},#{age})
	</insert>
</mapper>